<html>
<head>
    <link rel="stylesheet" href="/static/material.min.css">
    <script src="/static/material.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{ title }} - Meal Time</title>
    {% else %}
    <title>Welcome to Meal Time</title>
    {% endif %}
</head>
<body>
<div>
    {% if current_user.is_authenticated %}
        <a href="{{ url_for('meals') }}">Meals</a>
    |<a href="{{ url_for('calendar', view='day') }}">Calendar</a>
        |<a href="{{ url_for('groceries') }}">Groceries</a>
        |<a href="{{ url_for('user') }}">Profile</a>
        |<a href="{{ url_for('logout') }}">Logout</a>
    {% else %}
        <a href="{{ url_for('login') }}">Login</a>
    {% endif %}
</div>
<hr>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
    {% endif %}
    {% endwith %}
</hr>
    {% block content %}{% endblock %}
</body>
</html>
