{% extends "base.html" %}
{% block content %}
<h1>Meals for {{ username }}!</h1>
<form action="" method="post" name="add_meal">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <label class="control-label" for="meal_name">Meal Name</label>
        {{ form.meal_name }}
    </div>
    <div class="form-group">
        <table id="ingredient_table">
            <tr>
                <td>Amount</td>
                <td>Ingredient</td>
            </tr>
            <tr>
                <td><input type="text" id="amount_0" name="amount_0"></td>
                <td><input type="text" id="ingredient_0" name="ingredient_0"></td>
            </tr>
        </table>
        <button id="add_ingredient"
                class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
            <i class="material-icons">add</i>
        </button>
    </div>
    <div class="form-group">
        <label class="control-label" for="directions">Directions</label>
        {{ form.directions }}
    </div>
    <input type="submit" value="Add"></p>
</form>
<h2>Meals</h2>
{% for meal in meals %}
<a href="{{ url_for('meal', meal_id=meal._id) }}">{{ meal.name }}</a><br>
{% endfor %}
<script src="/static/meals.js"></script>
{% endblock %}
